
img {
    width: 300px;
}
/* I turned width value from 400 to 300 in order to fit the image to his div background size  */

#thirdDiv {
    background-color: goldenrod;
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 3px dotted orange;
    margin: auto;
}

#spanID {
    font-size: 18px;
    margin: 50px;
}

body {
    background-image: url(https://img.freepik.com/free-vector/japan-pattern-background-vector-design_41050-2353.jpg?size=626&ext=jpg);
}

div {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }